<a href="https://colab.research.google.com/github/gpasky/MAT-421/blob/main/ModA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Gabriel Pascual

**9.1: Base-N and Binary**

The decimal system uses base 10. With a Base-N decimal system, we can have various digits associated with a power of N based on N digits (0 to N).

In [ ]:
# Decimal expansion of 259.8 (base10)

259.8 == 2*(10**2) + 5*(10**1) + 9*(10**0) + 8*(10**-1)

True

It can be shown that numbers from one base can be converted into its equal form in another base. Given 211 (base3), its base10 value is 22.

In [ ]:
# Find the base10 value of 211 (base3)

2*(3**2) + 1*(3**1) + 1*(3**0) == 22

True

Binary is of base2 meaning it uses only 0 and 1 to represent numbers.

In [ ]:
# 22 in decimal can be converted into a binary number
bin(22)

'0b10110'

In [ ]:
# 58 in decimal can be converted into a binary number
bin(58)

'0b111010'

In [ ]:
# This can also be proven analytically
22 == 1*(2**4) + 0*(2**3) + 1*(2**2) + 1*(2**1) + 0*(2**0)

True

In [ ]:
58 == 1*(2**5) + 1*(2**4) + 1*(2**3) + 0*(2**2) + 1*(2**1) + 0*(2**0)

True

These binary numbers can be added and multiplied.

In [ ]:
bin22 = bin(22)
bin58 = bin(58)
print(bin22,bin58)

0b10110 0b111010

Addition:

In [ ]:
# bin22 = 0b10110 and bin58 = 0b111010
result = 0b10110 + 0b111010
print(result) #22 + 58 = 80(base10)
print(bin(result)) #bin(80) = 0b1010000
bin(80) == bin(result) #verify binary result of addition

80
0b1010000

True

Multiplication:

In [ ]:
# bin22 = 0b10110 and bin58 = 0b111010
result = 0b10110 * 0b111010
print(result) #22 * 58 = 1276(base10)
print(bin(result)) #bin(1276) = 0b10011111100
bin(1276) == bin(result) #verify binary result of multiplication

1276
0b10011111100

True

**9.2 Floating Point Numbers**

Floating point numbers use the same number of bits used in binary.

The bits are represented into three parts:

1.   s: sign indicator(+/-), 1 bit
2.   e: characteristic/exponent(power of 2), 11 bits
3.   f: fraction(coefficient of the exponent), 52 bits


Bias: the result from normalizing (subtracting 1023 from the exponent).

Float representation: n = (-1)^s*2^(e-1023)*(1+f)

We can convert from a decimal to a floating point number.

In [4]:
# Let's convert 48 into a floating point number

# Positive number so s = 0

# The largest power of two for 48 is 5
# 5 + 1023 = 1028(base10)
print("1028 in binary: " + bin(1028)) # bin(1028) = 10000000100

# The fraction is 48/32 - 1 = 0.5
# 0.5(base10) = 1*(1/2^1) + 0*(1/2^2) + 0*(1/2^3) + 0*(1/2^4) + 0*(1/2^5) = 1000000000000000000000000000000000000000000000000000(base2)

# Putting everything together we find the floating point number
print("48(base10) = 0 10000000100 1000000000000000000000000000000000000000000000000000(IEE754)")

1028 in binary: 0b10000000100
48(base10) = 0 10000000100 1000000000000000000000000000000000000000000000000000(IEE754)

This IEE754 number represents all the real numbers (smallest and largest) halfway between the neighbors of 48.

The gap is defined as the distance between two numbers. This gap increases with the number since fraction * 2^(e-1023)

In [5]:
import numpy as np # Used to compute the gap
np.spacing(48) # Finds the next largest number

7.105427357601002e-15

In [6]:
48 == (48 + np.spacing(48)/3) # Adding a fraction of 1/3 spacing gives the same number as 48

True

Overflow occurs for numbers larger than the largest floating point number and underflow occurs for numbers smaller than the smallest floating point number.

In [13]:
import sys # Gives float information
sys.float_info
sys.float_info.max == sys.float_info.max + 10 # There is not enough precision to store +10 so the 64 bits remain the same

True

In [12]:
sys.float_info.max + sys.float_info.max # Adding another 64 bits results in overflow

inf

The subnormal number (when e = 0) at which underflow occurs is given by (-1)^0 * 2^(1-1023) * 2^-52 = 2^-1074.

In [15]:
print("Smallest subnormal number: " + str(2**(-1075)))
print("Verify equality to 0: " + str(2**(-1075) == 0))
print("The next subnormal number above the smallest: " + str(2**(-1074)))

Smallest subnormal number: 0.0
Verify equality to 0: True
The next subnormal number above the smallest: 5e-324

**9.3 Round-off Errors**

The round-off error is the difference between the true value and its approximation. Floating point cannot represent the exact number as it is an approximation

Examples:

In [16]:
# Addition round-off errors
5.6 - 3.682 == 1.918

False

In [17]:
5.6 - 3.682 # A small error occurs when subtracting with approximations

1.9179999999999997

In [22]:
0.16 + 0.3 + 0.18 == 0.64 # A small error occurs when adding with approximations

False

In [23]:
round(0.16 + 0.3 + 0.18,2) == round(0.64,2) # Use round to add rounded values together

True

An accumulation of round-off errors occur when adding then subtracting a number to get the same number.

Examples:

In [45]:
1 + 1/4 - 1/4 # For 1 iteration we get the expected solution - 1.0

1.0

In [48]:
def add_and_subtract(iterations):
  result = 1

  for i in range(iterations):
    result += 1/4

  for i in range(iterations):
    result -= 1/4
    return result

add_and_subtract(2) # For more iterations there is an increase in error

1.25

In [49]:
add_and_subtract(10) # For only 10 iterations, the error is increased by 2.25

3.25